/* Search results area */
 .vertical-image {
    min-height: 170px;
}
.horizontal-image {
    min-height: 160px;
}
div.image-float-wrapper {
    padding-bottom: 10px;
    padding-right: 10px;
    float: left;
    text-align: center;
}
div.video-wrapper {
    padding: 5px;
    text-align: center;
}
.shutterstock-logo {
    width: 50%;
}
/* Crop image ID */
 div.thumbnail-crop {
    overflow: hidden;
    margin: 0 auto;
}
/* Details area */
 div.detail-template .modal-body div {
    text-align: center;
}
div.detail-template img, div.detail-template video {
    width: 100%;
}
