#folderList {
  border-top: 1px solid #f1f1f1;
  counter-reset: ol-counter;
  list-style-type: none;
  margin: 0 0 1.5em;
  padding: 0;
}

.imgFolder {
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  padding: .5em 0;
  position: relative;
  overflow: hidden;
  transition: background 300ms ease-out;
  border-left: 4px solid white;
}

.imgFolder:before {
  color: #999;
  content: counter(ol-counter);
  counter-increment: ol-counter;
  display: inline-block;
  font-weight: 300;
  line-height: 3em;
  text-align: center;
  vertical-align: middle;
  width: 3em;
}


.imgFolder .path {
  display: inline-block;
  font-size: 1.25em;
  font-weight: 300;
  vertical-align: middle;
}


.imgFolder.selected {
  background-color: #fefff4;
  border-left: #eb5f3a 4px solid;
}

.imgFolder:hover {
  background-color: #fefff4;
}
